<!-- Character select page, links to view, edit, and delete -->

<h1><strong><u>Characters</u></strong></h1>

<ul>
    <% @characters.each do |character| %>
    <li>
        <%= link_to(character.name, character_path(character)) %>
        <%= link_to("Edit", edit_character_path(character)) %>
        <%= link_to("Delete", character_path(character), method: :delete, data: {confirm: "This is final, are you certain?" }) %>
    </li>
    <% end %>

</ul>
