<h1><strong>Build your Character</strong></h1>

<ul>
	<% @characters.each do |character| %>
	<li>
		<%= link_to(character.name, character_path(character)) %>
		<%= link_to("Edit", edit_character_path(character)) %>
		<%= link_to("Delete", character_path(character), method: :delete, data: {confirm: "This is final, are you certain?" }) %>
	</li>
	<% end %>

</ul>
