<h1><%= @character.name%></h1>
detail
<ul>
    <li>Level:</li>
    <li>Gender:</li>
    <li>Alignment:</li>
    <li>Real Age:</li>
    <li>Height:</li>
    <li>Weight:</li>
    <li>XP:</li>
    <li>HP:</li>
    <li>Race:</li>
    <li>Backstory:</li>
    <li>Appearance:</li>
    <li>Personality Traits:</li>
    <li>Ideals:</li>
    <li>Flaws:</li>
    <li>Bonds:</li>
    <li>Class:</li>
    <li>Background:</li>
    <li>Best Ability:</li>
    <li>Class Feature:</li>
    <li>Class Skill 1:</li>
    <li>Class Skill 2:</li>
    <li>Background Skill:</li>
    <li>Background Tools 1:</li>
    <li>Background Tools 2:</li>
    <li>Race Languages:</li>
    <li>Fighting Style:</li>
    <li>Starter Pack:</li>
    <li>Background Specialty:</li>
    <li>Known Spells:</li>
</ul>