header, footer {
    border: 10px solid;
    clear: both;
    display: block;
}

header {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #800000;
    background-color: #800000;
    color: gold;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 10%;
    height: auto;
    float: right;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    border-radius: 25px 35px;
    background-color: lawngreen;
    border-color: lawngreen;
 
    }



a:hover {
    color: yellow;
}
